

<div class="event-details-1">
  <div class="row">
    <div class="col-sm-6">
      <ul class="event-details-info">
        <li>The Ceremony</li>
        <br />
        <br />
        <br />
        <li>Drinks Reception</li>
        <br />
        <br />
        <br />
        <li>The Oul Feast</li>
        <br />
        <br />
      </ul>
    </div>
    <div class="col-sm-6">
      <ul>
        <li><strong>2pm</strong></li>
        <li>St. Michaels Church,</li>
        <li> Castletown, Geoghegan</li>
        <li><strong>4pm</strong></li>
        <li>The Boathouse,</li>
        <li>situated beside the pond</li>
        <li><strong>5pm</strong></li>
        <li>In the Barnhouse</li>
      </ul>
    </div>
  </div>
</div>

