<div class="container text-center">

  <h1>It began with a boy and a girl...</h1>
  
  <p>...living 3,461 miles away from each other. Amy was finishing college with wanderlust pushing her to explore the world.
  Stephen, feeling quite the same, was making plans to move to Canada. Their souls collided when Stephen's cousin Aoife
  introduced them to each other one February evening in 2016. Their passion for adventure brought them close while exploring Ireland.
  It didn't take long for Amy and Stephen to realise that they were in love...</p>

  
</div>

<div class="img-fluid">
  <img class="our-story-image" src="./assets/img/GAB_6692.jpeg" alt="#" />
</div>
