.homepage-image {
  width: 100%;
  height: 900px;
  position: relative;
  top: 55px;
  background-position: center center;
  background-size: cover;
  margin: 0;
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-right: 40px;
}

.home-text{
  font-size: 119px;

  font-style: italic;
  color: white;
  position: absolute;
  left: 500px;
  top: 400px;
}
/*@media screen and (max-width: 1024px) { 
  .homepage-image {
    left: 50%;
    margin-left: -512px;
  }
}
/*Fill page with image, style navbar, change font, repeat on each component*/
